
header{
    background: rgb(202, 199, 199);
}
.header__content{ 

    display: flex;
    justify-content: space-between;
    align-items: center;   
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    margin-right: 30px;
}
.header__content li{
    padding:20px 15px;
}
li{
    list-style: none;
}
.header__content li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 650;
}
header img{
    width: 100px;
}
.header__content .cart__phone{
    display: flex;
}
.header__content .cart__phone i{
   padding-top: 5px;
}
.header__content .cart__phone p {
   color:red
}


div{
    padding-left: 5px;
}
.product-item{
    position: relative;
    height: 600px;
    width: 300px;
    overflow: hidden;
    border: 1px solid rgb(232, 227, 227);
    border-radius: 20px;
    padding-top: 10px;
}
.items .product-item{
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    padding: 10px 15px 20px;
    overflow: hidden;
}
.items .product-item:hover{
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
}
.product-item img{
    padding: 15px;
    transform: translateY(0);
    transition: all .5s;
}
.product-item img:hover{
    transform: translateY(-20px);
}
.product-item h3{
    color: rgb(197, 31, 31);
}
.img-container{
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(35px);
}
img{
    width: 100%;
}

.details{
    position: absolute;
    bottom: -5px;
}
.btn-add{
    color:white ;
    background-color: black;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 5px;
} 

/* CART */
.cart {
    position: fixed;
    height: 100vh;
    width: 700px;
    right: 0;
    top: 0;
    background-color: #ffff;
    padding: 12px 20px;
    overflow-y: scroll;
    right: -100%;
    transition: all 1s;
}

/* pay */
 .pay{
    position: fixed;
    height: 100vh;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffff;
    padding: 12px 20px;
    overflow-y: scroll;
    left: -100%;
    transition: all 1s;
    border: 5px solid rgb(139,139,139);
    z-index: 100;
}
#pay_table{
    margin: auto;
    width: 80%;
}
.pay-total{
    display: flex;
    justify-content: space-evenly;
}

.success{
    color: #ffff;
    position: fixed;
    height: 20vh;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0);
    background-color: rgb(197, 31, 31);
    padding: 12px 20px;
    top: -100%;
    transition: all 1s;
    border: 5px solid rgb(139,139,139);
    z-index: 100;
}

.footer__allright{
    padding: 30px 100px;
}
.footer__allright hr{
    width: auto;
    height: 0px;
    color: grey;
    margin-bottom: 20px;
}